/* Style.css */
.todolist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa các mục */
}

.button-container {
  margin-bottom: 10px; /* Khoảng cách giữa button và danh sách mục */
}
